@import url('https://fonts.googleapis.com/css?family=Rubik');

.example-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 500px;
    font-family: Roboto, Arial, sans-serif;
    color: gray;
    //background-image:  url(images/papyrus.svg);
  }

  .example-container > * {
    width: 100%;
  }

#title {
  font-family: Rubik;
  color: black;
}

#dropdown {
  width: 474px;
}
