@import url('https://fonts.googleapis.com/css?family=Rubik');

.example-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 500px;
    font-family: Roboto, Arial, sans-serif;
    color: gray;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
#title {
  font-family: Rubik;
  color: black;
}

button {
  width: 23%;
}

#dropdown {
  width: 474px;
  padding-bottom: 15px;
}